.cont1{
  background-color: #c3caff40;
}

.cont2{
  background-image: url("/images/midbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}


h2{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 1.2rem;
  text-align: left;

}

.btndiv {
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  border: 1px solid #24252f;
}

.midbtns {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 83px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  width: 100%;
  line-height: 1.3;
  transition: all .2s;
  color: #24252f;
  background-color: transparent;
}



.mb-2 {
  margin-bottom: 2rem;
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  padding-top: 0.5rem;
}

.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.thiscolor{
  color: #24242496;
}

.thisboldcolor{
  color: #24252f;
  font-family: cursive;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.mb-4 {
  margin-bottom: 1.5rem;
}



@media (max-width: 960px) {
  .container {
    max-width: 768px;
  }

  .midbtns {
    font-size: 18px;
  }

  .col-sm-6,
  .col-md-4,
  .col-lg-3 {
    flex: 0 0 33.3333%;
  }

  h2{
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 480px;
  }

  .btndiv{
    margin-bottom: 1rem;
    margin-right: 1.5rem;
  }

  .row{
    flex-direction: column;
  }

  .col-sm-6,
  .col-md-4,
  .col-lg-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  h2{
    font-size: 2.2rem;
  }
}



@media (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  .row {
    flex-direction: column;
  }

  .col-sm-6,
  .col-md-4,
  .col-lg-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .btndiv {
    margin-bottom: 1rem;
    margin-right: 1.5rem;

  }

  h2{
    font-size: 2rem;
  }
}
