<div class="bg-white pt-8 pb-8">
  <div class="container">
    <div class="mb-2">
      <h2 class="mb-0">
        <span class="font-weight-light">Explore By </span
        ><span class="font-weight-semibold">Business Model</span>
      </h2>
    </div>
    <div class="row pt-5">
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
        <button
          class="btn btn-hero text-capitalize rounded-0"
          title="B2B - Business to Business"
        >
          B2B - Business to Business
        </button>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
        <button
          class="btn btn-hero text-capitalize rounded-0"
          title="B2C - Business to Consumer"
        >
          B2C - Business to Consumer
        </button>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
        <button
          class="btn btn-hero text-capitalize rounded-0"
          title="B2B2C - Business to Business to Customer"
        >
          B2B2C - Business to Business to Customer
        </button>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
        <button
          class="btn btn-hero text-capitalize rounded-0"
          title="C2C - Consumer to Consumer"
        >
          C2C - Consumer to Consumer
        </button>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
        <button
          class="btn btn-hero text-capitalize rounded-0"
          title="C2B - Consumer to Business"
        >
          C2B - Consumer to Business
        </button>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
        <button
          class="btn btn-hero text-capitalize rounded-0"
          title="B2A - Business to Administration"
        >
          B2A - Business to Administration
        </button>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
        <button
          class="btn btn-hero text-capitalize rounded-0"
          title="C2A - Customer to Administration"
        >
          C2A - Customer to Administration
        </button>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4" data-animate="pulse">
        <button class="btn btn-hero text-capitalize rounded-0" title="Other">
          Other
        </button>
      </div>
    </div>
  </div>
</div>
